@import url('https://fonts.googleapis.com/css2?family=Montez&family=Montserrat&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: darkgray;
}

a{
font-family:"Montserrat",sans-serif ;
font-weight: 500;
font-size: 16px;
color: #edf0f1;
}